/* Header */
.logo {
  width: 200px;
}

/* Hero */
.hero {
  background-image: url("assets/header.jpg");
  height: 800px;
  background-size: cover;
}

.social-icons-container {
  margin-top: 576px;
}

.social-icons {
  width: 50px;
}

.team-accelerator {
  margin-top: 488px;
}

.team-accelerator-card {
  border-radius: 10px;
}

/* Why */

.why {
  background-color: #071f58;
}

.why-content {
  margin-top: 400px;
  color: white;
}

.why-card {
  border-radius: 10px;
  border: 0;
}

.why-card-1 {
  margin-top: 400px;
}

.why-card-2 {
  margin-top: 300px;
}

.why-card-3 {
  margin-top: 30px;
}

/* Wezeo */

.wezeo {
  background-image: url("assets/office.jpg");
  height: 800px;
  background-size: cover;
}

/* Grishi */

.grishi-container {
  margin-top: 370px;
  height: 350px;
  background-color: cornflowerblue;
  border-radius: 15px;
}

.grishi-left {
  background-color: white;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50px;
}

.grishi-right {
  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
}

.grishi-img {
  height: 450px;
  margin-top: -100px;
  margin-left: -54px;
}

/* Email */
.email-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #071f58;
  color: white;
  text-align: center;
}

.email-submit {
  margin-top: 30px;
  width: 200px;
}
